.brand-logo {
  font-family: BatmanForeverAlternate !important;
}
.nav-signup-btn {
  transition: ease-in 0.2s;
  border: 1px solid #ff4455;
  margin: 0 1rem;
}
.nav-signup-btn:hover {
  background-color: #fff !important;
  color: #f4511e;
}
.nav-login-btn {
  transition: ease-in 0.2s;
  margin: 0 1rem;
}
.nav-login-btn:hover {
  color: #ff4455;
}
